@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html{
  font-size: 62.5%;

}

.header-front{
  background-color: #074581;
  border-bottom: 0.2rem solid red;
}
.container{
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;

}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
.short-red-separator{
  color: red;
}
.section.clearfix{
  font-family: Montserrat;

  color: white;
  display: flex;
  justify-content: space-around;


  .title-refont{
    font-size: 2rem;

  }
  .title-refont:visited { text-decoration: none; color:white; }
  .block-logo{
    display: flex;

  }
  a{
    text-decoration: none;

  }

  ul.menu{
    display: flex;
  li{
    list-style: none;
    a{
      text-decoration: none;
      color: white;
    }
  }
  }
}

.imageblock-image{
  width:100%;
}

.region-contact{
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
  color: #3a87ad;
}
#block-views-taxos-display-block{

  .content{
    padding-top: 10rem;
  }

}
#block-views-taxos-display-block.block-views{
  h2:before {
    content: "";
    position: absolute;
    width: 2rem;
    top: 8%;
    left: -2%;
    border-bottom: 3px solid red;
  }
.view-taxos-display {

  .views-row-1{
    a {


      background: url("../../../../../web/sites/default/files/office-buildings-svgrepo-com.svg") no-repeat 50%;
      //background-color: red;
      background-size: 100%;
      padding-top: 10rem;
    }
  }
  .views-row-2{
    a {


      background: url("../../../../../web/sites/default/files/family-silhouette-svgrepo-com.svg") no-repeat 50%;
      //background-color: red;
      background-size: 100%;
      padding-top: 10rem;

    }
  }
  .views-row-3{
    a {


      background: url("../../../../../web/sites/default/files/stock-earnings-svgrepo-com.svg") no-repeat 50%;
      //background-color: red;
      background-size: 100%;
      padding-top: 10rem;

    }
  }

  }
  .view-content {
    display: flex;
    justify-content: space-around;



    a {
      font-family: Montserrat;
      color: #3a87ad;
      text-decoration: none;
    }
  }
}
